<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demographic Pyramid with D3.js</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
    <div id="tooltip" style="position: absolute; opacity: 0; background-color: #fff; border: 1px solid #ddd; padding: 5px; border-radius: 3px; pointer-events: none;"></div>
    <style>
        .bar:hover {
            fill: darkorange;
        }
        .chart {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>
<body>
    <h2>Demographic Pyramid Visualization</h2>
<label for="country-select">Choose a country:</label>
<select id="country-select" name="country-select">
    <option value="">Select a country</option>
    {% for country in countries %}
    <option value="{{ country }}">{{ country }}</option>
    {% endfor %}
</select>

    <div id="main-chart" class="chart"></div>
    <div class="small-charts">
    <div id="similar-chart1"></div>
    </div>

    <script src="static/tal_d3.js"></script>
</body>
</html>


